/* style.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f3f3f3;
    background-image: url(images/bauCuaImages/roosterWallpaper.webp);
    margin: 0;
    padding: 0;

  }
  
  .container {
    margin-top: 50px;
  }
  
  h1 {
    font-size: 80px;
    color: #5d0b0f;
    text-shadow: 
      1px 1px 2px rgba(211, 131, 131, 0.8), /* Top-left highlight */
      -1px -1px 2px rgba(83, 4, 4, 0.2); /* Bottom-right inset shadow */
  }
  
  .dice {
    margin: 2% 0;
  }
  
  .dice img {
    border-radius: 15%; /* Rounded corners */
    box-shadow: 5px 15px 19px rgba(0, 0, 0, 1.5); /* Box shadow */
    object-fit: cover; /* Ensures the image fits nicely */    width: 25%;
    margin: 1%;
  }
  
  button {
    padding: 10px 20px;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    background-color: #54010428;
    border: none;
    border-radius: 5px;
    animation-duration: 10s;
    box-shadow: 0 0 12px rgba(227, 227, 168, 0.871); /* Glow effect */
    color: #53090d;
    text-shadow: 
      1px 1px 2px rgba(211, 131, 131, 0.8), /* Top-left highlight */
      -1px -1px 2px rgba(83, 4, 4, 0.2); /* Bottom-right inset shadow */
  }
  
  #result {
    margin-top: 20px;
    font-size: 20px;
    color: #690404;
  }
  